<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.InterviewDao">
        <insert id="addInterview" parameterType="Interview">
            INSERT INTO interview
            (dept,job,interview_time,u_id,r_id,hire,interview)
            VALUES
            (#{dept},#{job},#{interviewTime},#{uId},#{rId},#{hire},#{interview})
        </insert>
        <select id="findInerrviewByUId" resultType="Interview">
            SELECT
              *
            FROM
              interview
              WHERE
              u_id =#{id}
        </select>
        <select id="findInterviewByHireAndInterview" resultType="Interview">
            SELECT
            *
            FROM
            interview
            WHERE
                hire=#{hire} and interview =#{interview}
        </select>
        <update id="updateInterview" parameterType="int">
            UPDATE
                interview
            SET
                hire=#{hire},interview=#{interview}
            WHERE
                id=#{id}
        </update>
        <select id="findInterviewsByHireAndInterviewAndDept" resultType="Interview">
            SELECT
            *
            FROM
            interview
            WHERE
                hire=#{hire} and interview =#{interview} and dept=#{dept}
        </select>
        <select id="findInterviewByRId" resultType="Interview">
            SELECT
              *
            FROM
              interview
            WHERE
              r_id=#{id}
        </select>
        <delete id="deleteByRid" parameterType="int">
            DELETE FROM interview WHERE r_id=#{id}
        </delete>
</mapper>