<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.JobDao">
        <select id="findAllJobs" resultType="Job">
            SELECT
             j.id,
             j.name,
             d.id "dept.id",
             d.name "dept.name"
            FROM
              job j,dept d
            WHERE
              j.dept_id=d.id
        </select>
        <select id="findByDeptId" resultType="Job">
            SELECT
              j.id,
             j.name,
             d.id "dept.id",
             d.name "dept.name"
             FROM
              job j,dept d
            WHERE
              j.dept_id=d.id AND j.dept_id=#{id}
        </select>
</mapper>