<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.UserDao">

    <insert id="addUser" parameterType="User">
        insert into user(account,password,type) values(#{account},#{password},#{type})
    </insert>
    <select id="findUserByAccountAndPassword" resultType="User">
        select * from user where account = #{account} and password=#{password}
    </select>
    <select id="findUserByAccount" resultType="User">
        SELECT * FROM user where account = #{account}
    </select>
    <select id="findAllUsers" resultType="User">
        select * from user
    </select>
    <select id="findUserById" resultType="User">
        select * from user WHERE id=#{id}
    </select>
    <update id="updateUser" parameterType="Int">
        update user set resume = #{resume} WHERE  id =#{id}
    </update>
    <update id="updatedPassword" parameterType="User">
        update user set password =#{password} WHERE id=#{id}
    </update>
    <select id="findUserByResume" resultType="User">
        SELECT * FROM user WHERE resume=#{id}
    </select>
</mapper>